In [11]:
import pandas as pd

In [5]:
df = pd.read_csv("atram-global-tech-fund.csv")
df

         Date   Amount  Units   NAVPU
0  01-31-2022  2000.00   8.98  222.83
1  01-31-2022  2153.64   9.66  222.83
2  01-31-2022  4000.00  17.95  222.83
3  02-22-2022  1000.00   4.64  215.29
4  02-23-2022  2000.00   9.40  212.72

In [7]:
total_units = df['Units'].sum()
total_units

50.63

In [10]:
total_amount = df['Amount'].sum()
total_amount

11153.64

In [15]:
navpu_average = total_amount / total_units
navpu_average # buy below this amount

220.2970570807821