In [1]:
import pandas as pd

In [2]:
class mutual_fund:
    def __init__(self, df):
        self.df = df
        
    def get_total_units(self):
        return self.df['Units'].sum()
    
    def get_total_amount(self):
        return self.df['Amount'].sum()
    
    def get_navpu_average(self):
        return (self.get_total_amount() / self.get_total_units())
    
    def print_info(self):
        print(f"Total Units : {self.get_total_units()}")
        print(f"Total Amount : {self.get_total_amount()}")
        print(f"NAVPU Average : {self.get_navpu_average()}")

In [3]:
consumer_df = pd.read_csv("portfolio/atram-global-consumer-fund.csv")
tech_df = pd.read_csv("portfolio/atram-global-tech-fund.csv")

In [4]:
consumer_df

         Date  Amount  Units   NAVPU
0  01-31-2022    2000  13.84  144.49
1  02-24-2022    2000  14.45  138.43
2  02-28-2022    2000  13.57  147.41
3  02-28-2022    1000   6.78  147.41
4  03-15-2022    2000  15.41  129.75
5  04-12-2022    2000  15.08  132.61
6  05-02-2022    2000  15.91  125.69
7  05-04-2022    2000  15.88  125.94
8  05-11-2022    2000  17.25  115.95
9  05-16-2022    2000  16.95  118.00

In [5]:
consumer = mutual_fund(consumer_df)
consumer.print_info()

Total Units : 145.12
Total Amount : 19000
NAVPU Average : 130.92613009922823

In [6]:
tech_df

         Date   Amount  Units   NAVPU
0  01-31-2022  2000.00   8.98  222.83
1  01-31-2022  2153.64   9.66  222.83
2  01-31-2022  4000.00  17.95  222.83
3  02-22-2022  1000.00   4.64  215.29
4  02-23-2022  2000.00   9.40  212.72
5  04-12-2022  2000.00   9.33  214.39
6  05-04-2022  2000.00   9.83  203.37
7  05-11-2022  2000.00  10.38  192.76
8  05-16-2022  2000.00  10.21  195.86

In [7]:
tech = mutual_fund(tech_df)
tech.print_info()

Total Units : 90.38
Total Amount : 19153.64
NAVPU Average : 211.923434388139